.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-m1sF9x5ChFwv);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-YgWp7Ma8-s2u);
  border-radius: var(--token-SdWYpsxlCyDK);
  padding: var(--token-ERVUZNtRpci6);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__uUPjy:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
