.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-iEmHz2SUrLwF);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-n0rAgRmIZi97);
  font-family: var(--token-hOc-3B0aS2eN);
  font-size: var(--token-XWK9geoPQbIS);
  line-height: var(--token-WsmWIjrUpLdO);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-ERVUZNtRpci6);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-L28uusbhZEiE);
  outline-offset: 1px;
  outline-color: var(--token-iEmHz2SUrLwF);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-Y_gnkLyQ6SIu);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-mgBfHZpH2PeG);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-SQuER3tVdpu1);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-6SvUq1VNXWt0);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-BWSRkisjQRZ-);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-252Msz39yGcR);
  font-size: var(--token-R_yVqNewgBCb);
  column-gap: var(--token-L28uusbhZEiE);
  row-gap: 0px;
  border-radius: var(--token-mLUvzLNO9-Km);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-R_yVqNewgBCb);
  line-height: var(--token-252Msz39yGcR);
  column-gap: var(--token-mLUvzLNO9-Km);
  row-gap: 0px;
  border-radius: var(--token-mLUvzLNO9-Km);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-wSUiBP-ffzmf);
  line-height: var(--token-6hEL21WCTtpv);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-wSUiBP-ffzmf);
  line-height: var(--token-6hEL21WCTtpv);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-klbcXNRDzUCz);
  border-radius: var(--token-ERVUZNtRpci6);
}
.softBackgroundcolor_neutral {
  background: var(--token-q6-xtUoLdZDE);
}
.softBackgroundcolor_muted {
  background: var(--token-XpwRF2kk0vDh);
}
.softBackgroundcolor_success {
  background: var(--token-sWzesY3-n9Wv);
}
.softBackgroundcolor_warning {
  background: var(--token-YbXoBxtb0R8W);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-GXEqoW3waur-);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-ERVUZNtRpci6);
  border: 0px solid var(--token-rHeF6wp0oDRY);
}
.bordercolor_neutral {
  border-color: var(--token-tvO7VdQaIBOq);
}
.bordercolor_muted {
  border-color: var(--token-YgWp7Ma8-s2u);
}
.bordercolor_success {
  border-color: var(--token-Blrtudy_gqnR);
}
.bordercolor_warning {
  border-color: var(--token-e5JgpcofvbCG);
}
.bordercolor_errorDestructive {
  border-color: var(--token-sroAR6EWiv4I);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-ERVUZNtRpci6);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-1PRa-RsGAXNB);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-BY9OVQpufJ04);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-UcUkYj4Q0DLP);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__mZhf1 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-ERVUZNtRpci6) var(--token-SdWYpsxlCyDK);
}
.freeBox__mZhf1 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-ERVUZNtRpci6));
  width: calc(100% + var(--token-ERVUZNtRpci6));
}
.freeBox__mZhf1 > :global(.__wab_flex-container) > *,
.freeBox__mZhf1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mZhf1 > :global(.__wab_flex-container) > picture > img,
.freeBox__mZhf1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ERVUZNtRpci6);
}
.freeBoxsize_extraSmall__mZhf1Vvp2L {
  padding: var(--token-mLUvzLNO9-Km) var(--token-ERVUZNtRpci6);
}
.freeBoxsize_small__mZhf1LqVlB {
  padding: var(--token-ERVUZNtRpci6) var(--token-n0rAgRmIZi97);
}
.freeBoxsize_large__mZhf1Sn5Vb {
  padding-top: var(--token-mLUvzLNO9-Km);
  padding-bottom: var(--token-mLUvzLNO9-Km);
}
.freeBoxsize_extraLarge__mZhf1Be6Xs {
  padding-left: var(--token-9dF2ZX-Zigxb);
  padding-right: var(--token-9dF2ZX-Zigxb);
}
.freeBoxroundedFull__mZhf1P1Ch {
  padding-right: var(--token-9dF2ZX-Zigxb);
  padding-left: var(--token-9dF2ZX-Zigxb);
}
.freeBox__z0Nnq {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__z0NnQtb60B {
  display: flex;
}
.slotTargetStart {
  color: var(--token-jVW1pBkYmwbB);
}
.slotTargetStartcolor_neutral {
  color: var(--token-tYGMAZBglmSE);
}
.slotTargetStartcolor_muted {
  color: var(--token-D_sMCopgvIK8);
}
.slotTargetStartcolor_success {
  color: var(--token-qbJDpX6vFuOp);
}
.slotTargetStartcolor_warning {
  color: var(--token-uBVw_1hwXZSc);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-OmZ2Oa_xWWsz);
}
.slotTargetStarttype_soft {
  color: var(--token-QHI5w86_vzMS);
}
.slotTargetStarttype_bordered {
  color: var(--token-QHI5w86_vzMS);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-R_yVqNewgBCb);
}
.slotTargetStartsize_small {
  font-size: var(--token-R_yVqNewgBCb);
}
.slotTargetStartsize_large {
  font-size: var(--token-wSUiBP-ffzmf);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-wSUiBP-ffzmf);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-Bf6oDOT1OlIx);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-Bf6oDOT1OlIx);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-vQnMmHZT1w4-);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-vQnMmHZT1w4-);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-MCwOvD3d-Nhj);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-MCwOvD3d-Nhj);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-iOFwrf9fldBM);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-iOFwrf9fldBM);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-TwpKzctiy2q4);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-TwpKzctiy2q4);
}
.svg__ry2M {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-jVW1pBkYmwbB);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-tYGMAZBglmSE);
}
.slotTargetLabelcolor_muted {
  color: var(--token-D_sMCopgvIK8);
}
.slotTargetLabelcolor_success {
  color: var(--token-qbJDpX6vFuOp);
}
.slotTargetLabelcolor_warning {
  color: var(--token-uBVw_1hwXZSc);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-OmZ2Oa_xWWsz);
}
.slotTargetLabeltype_soft {
  color: var(--token-QHI5w86_vzMS);
}
.slotTargetLabeltype_bordered {
  color: var(--token-QHI5w86_vzMS);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-Bf6oDOT1OlIx);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-vQnMmHZT1w4-);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-Bf6oDOT1OlIx);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-MCwOvD3d-Nhj);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-vQnMmHZT1w4-);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-iOFwrf9fldBM);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-MCwOvD3d-Nhj);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-TwpKzctiy2q4);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-iOFwrf9fldBM);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-TwpKzctiy2q4);
}
.text__tTkXl {
  white-space: pre;
}
.freeBox__eyhsx {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__eyhsxCkp6A {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-jVW1pBkYmwbB);
}
.slotTargetEndcolor_neutral {
  color: var(--token-tYGMAZBglmSE);
}
.slotTargetEndcolor_muted {
  color: var(--token-D_sMCopgvIK8);
}
.slotTargetEndcolor_success {
  color: var(--token-qbJDpX6vFuOp);
}
.slotTargetEndcolor_warning {
  color: var(--token-uBVw_1hwXZSc);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-OmZ2Oa_xWWsz);
}
.slotTargetEndtype_soft {
  color: var(--token-QHI5w86_vzMS);
}
.slotTargetEndtype_bordered {
  color: var(--token-QHI5w86_vzMS);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-R_yVqNewgBCb);
}
.slotTargetEndsize_small {
  font-size: var(--token-R_yVqNewgBCb);
}
.slotTargetEndsize_large {
  font-size: var(--token-wSUiBP-ffzmf);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-wSUiBP-ffzmf);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-Bf6oDOT1OlIx);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-Bf6oDOT1OlIx);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-vQnMmHZT1w4-);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-vQnMmHZT1w4-);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-MCwOvD3d-Nhj);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-MCwOvD3d-Nhj);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-iOFwrf9fldBM);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-iOFwrf9fldBM);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-TwpKzctiy2q4);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-TwpKzctiy2q4);
}
.svg__xvWaT {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
