.ariaTooltip:global(.__wab_instance) {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
}
.slotTargetTrigger {
  color: var(--token-06sdtM_wbhgE);
  font-family: var(--token-hOc-3B0aS2eN);
  font-size: var(--token-XWK9geoPQbIS);
  line-height: var(--token-WsmWIjrUpLdO);
}
.text__fwwiy {
  position: relative;
}
.overlayArrow:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  position: relative;
  background: var(--token-_lDKvw4F7epn);
  flex-direction: column;
  width: auto;
  border-radius: var(--token-n0rAgRmIZi97);
  padding: var(--token-9dF2ZX-Zigxb);
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-mLUvzLNO9-Km));
  height: calc(100% + var(--token-mLUvzLNO9-Km));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mLUvzLNO9-Km);
}
.slotTargetContent {
  color: var(--token-tYGMAZBglmSE);
  font-family: var(--token-hOc-3B0aS2eN);
  font-size: var(--token-XWK9geoPQbIS);
  line-height: var(--token-WsmWIjrUpLdO);
}
