.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-mLUvzLNO9-Km);
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__tvf7U {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__tvf7U > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-mLUvzLNO9-Km));
  height: calc(100% + var(--token-mLUvzLNO9-Km));
}
.freeBox__tvf7U > :global(.__wab_flex-container) > *,
.freeBox__tvf7U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tvf7U > :global(.__wab_flex-container) > picture > img,
.freeBox__tvf7U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mLUvzLNO9-Km);
}
.radio__geJf9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__hu0U:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__vxL9G:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
